.container {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: sans-serif;
  background: linear-gradient(135deg, #e0f2fe, #f0f9ff);
  border-radius: 1rem;
}

.puntajeTexto {
  font-size: 0.9rem;
  font-weight: bold;
  color: #07090a; /* Color del texto */
}	

.gauge {
  width: 80%;
  height: auto;
  transform: rotate(-90deg); /* semicírculo superior */
}

