/* Fondo General */
.fondo {
  background-color: #001f3f;
}

/* Contenedor Principal */
.container {
  background-color: rgba(52, 152, 219, 0.2);
  padding: 2rem;
}

.contenedor {
  background-color: white;
  padding: 2rem;
  border-radius: 25px;
}

/* Banner */
.banner {
  display: flex;
  background-color: #2ecc71;
  padding: 1rem;
  border-radius: 25px;
}

.bannerParrafo {
  color: white;
  width: 65%;
}

.bannerTitulo {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.bannerContenido {
  padding-right: 2rem;
  padding-left: 2rem;
  text-align: center;
  font-size: large;
  font-weight: 400;
}

/* Subtítulo */
.subtitulo {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  font-size: 20px;
  color: #333333;
}

/* Tabla */
.tableContainer {
  
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tablaEncabezado {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: separate;
  border-spacing: 0.5rem;
}

.tablaEncabezado th, .tablaEncabezado td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.tablaEncabezado th {
  background-color: #0f3861;
  color: white;
}

.tablaEncabezado tbody tr {
  border-bottom: 2px solid #0f3861;
}

.tablaEncabezado tbody td {
  padding: 0.4rem;
  border-right: 2px solid #0f386141;
}

.tablaEncabezado tbody tr:last-child {
  border-bottom: none; /* Eliminar el borde inferior del último tr */
}

.tablaEncabezado tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tablaEncabezado tr:hover {
  background-color: #f1f1f1;
}

/* Botón */
.boton {
  display: flex;
  justify-content: center;
  text-align: center;
}

/* Enlace */
.link {
  text-decoration: none;
}

/* Desempeño */
.desempeño {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
