.fondo {
  background-color: #001f3f;
}

.container {
  background-color: rgba(52, 152, 219, 0.2);
  padding: 2rem;
}

.contenedor {
  background-color: white;
  padding: 2rem;
  border-radius: 25px;
}

.banner {
  display: flex;
  background-color: #2ecc71;
  padding: 1rem;
  border-radius: 25px;
}

.bannerParrafo {
  color: white;
  width: 65%;
}

.bannerTitulo {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.bannerContenido {
  padding-right: 2rem;
  padding-left: 2rem;
  text-align: center;
  font-size: large;
  font-weight: 400;
}

.subtitulo {
  padding: 1rem;
}

.tablaEncabezado {
  justify-content: center;
  width: 100%;
  text-align: center;
  align-items: center;
  border-collapse: separate;
  border-spacing: 0.5rem;
}

.tablaEncabezado tbody tr {
  border-bottom: 2px solid #0f3861;
}

.tablaEncabezado tbody td {
  padding: 0.4rem;
  border-right: 2px solid #0f386141;
  text-align: center;
  justify-content: center;
}

.tablaEncabezado tbody tr:last-child {
  border-bottom: none; /* Eliminar el borde inferior del último tr */
}

.boton {
  display: flex;
  text-align: center;
  justify-content: center;
}

.link {
  text-decoration: none;
}