.formulario {
  padding: 0% 12% 2% 12%;
}

.titulo {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  color: rgb(54, 53, 53);
}
.containerPrincipal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #d5deec;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
}
.icono {
  width: 1.3rem;
  height: 1.3rem;
  padding-inline-start: 15px;
  padding-top: 0.2rem;
}

.input {
  width: 100%;
  margin: 0.3rem;
  padding: 0.5rem;
  border: none; /* Esto quitará el borde */
  outline: none;
  background-color: #d5deec;
  font-size: medium;
  align-items: center;
  justify-content: center;
}
.input::placeholder {
  color: rgb(54, 53, 53);
}

.contenedor_botones {
  margin-top: 1.5rem;
  text-align: center;
}

.boton {
  background-color: #b87a07;
  margin-bottom: 0.75rem;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #fff;
  border-radius: 0.25rem;
  border: none; /* Esto quitará el borde */
  outline: none;
  font-size: medium;
  cursor: pointer;
}
.link {
  text-decoration: none;
  color: rgb(54, 53, 53);
}
.click {
  background-color: #b87a07;
  margin-bottom: 0.75rem;
  width: 50%;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  color: #fff;
  border-radius: 0.25rem;
  border: none; /* Esto quitará el borde */
  outline: none;
  font-size: medium;
  cursor: pointer;
}

.containerClick {
  text-align: center;
  padding: 0% 12% 4% 12%;
  align-items: center;
  justify-content: center;
}
