.container {
  background-color: #001f3f;
  display: flex;
  padding-right: 2rem;
  padding-left: 2rem;
  border-bottom-width: 1px;
  justify-content: space-between;
  /* position: fixed; */
  /* width: 100%; */
  /* top: 0;
  z-index: 1000; */
}

.contenedor_logo {
  width: 100%;
  justify-content: start;
  align-items: center;
}

.logo {
  width: 200px;
}

.contenedor_enlaces {
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
}

.text {
  text-align: center;
  padding-left: 2%;
}
.contenedor_botones {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.boton {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.link {
  text-decoration: none;
  color: #da8f05;
  padding-right: 1.5rem;
}

.botoncarrito {
  background-color: #001f3f;
  border: none;
  cursor: pointer;
  display: flex;
}

.contenedorCantidadCarrito {
  background-color: #da8f05;
  border-radius: 80px;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.cantidadCarrito {
  color: white;
}

.icono {
  width: 1.7rem;
  height: 1.7rem;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.iconoUsuario {
  width: 1.2rem;
  height: 1.2rem;
  align-items: center;
  justify-content: center;
  padding-right: 0.5rem;
}
.cuenta {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-right: 2rem;
}
.parrafoCuenta {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: white;
}
