.error {
    background-color: rgb(212, 40, 40);
    color: white;
    text-align: center;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    padding: 0.75rem;
    border-radius: 0.25rem;
    font-size: medium;
    cursor: pointer;
}

.noError {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    background-color: rgb(13, 145, 197);
    color: white;
    text-align: center;
    padding: 0.75rem;
    border-radius: 0.25rem;
    font-size: medium;
    cursor: pointer;
}